/* screen - 06-new-device-pairing-failed-1 */

.x06-new-device-pairing-failed-1 {
  background-color: var(--white);
  cursor: pointer;
  height: 100vh;
  margin: 0px;
  min-height: 812px;
  min-width: 375px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
.x06-new-device-pairing-failed-1 .base-Zho80r {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.x06-new-device-pairing-failed-1 .blur-FnGo4v {
  background-color: transparent;
  height: 107.39%;
  left: -8.00%;
  object-fit: cover;
  position: absolute;
  top: -3.69%;
  width: 116.00%;
}
.x06-new-device-pairing-failed-1 .combined-shape-1W74pg {
  background-color: transparent;
  height: 100.00%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100.00%;
}
.x06-new-device-pairing-failed-1 .display-shape-GUNvJx {
  background-color: transparent;
  bottom: 0px;
  height: 812px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: 375px;
}
.x06-new-device-pairing-failed-1 .failed-C61RwL {
  background-color: transparent;
  bottom: 432px;
  height: 50px;
  left: 32px;
  letter-spacing: 1.00px;
  line-height: 47px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 83.47%;
}
.x06-new-device-pairing-failed-1 .fill-1-MZo7m7 {
  background-color: transparent;
  height: 100.00%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100.00%;
}
.x06-new-device-pairing-failed-1 .gradient-bot-FnGo4v {
  background-color: transparent;
  height: 122.54%;
  left: -105.87%;
  object-fit: cover;
  position: absolute;
  top: 10.47%;
  width: 265.33%;
}
.x06-new-device-pairing-failed-1 .gradient-mid-FnGo4v {
  background-color: transparent;
  height: 101.48%;
  left: 18.40%;
  object-fit: cover;
  position: absolute;
  top: -15.52%;
  width: 219.73%;
}
.x06-new-device-pairing-failed-1 .gradient-top-FnGo4v {
  background-color: transparent;
  height: 107.51%;
  left: -94.13%;
  object-fit: cover;
  position: absolute;
  top: -40.76%;
  width: 232.80%;
}
.x06-new-device-pairing-failed-1 .group-24-xhxa6O {
  background-color: transparent;
  height: calc(100.00% - 37px);
  left: 16px;
  position: relative;
  top: 18px;
  width: calc(100.00% - 32px);
}
.x06-new-device-pairing-failed-1 .group-4-FnGo4v {
  background-color: transparent;
  bottom: 0px;
  height: 812px;
  left: calc(50.00% - 188px);
  position: absolute;
  width: 375px;
}
.x06-new-device-pairing-failed-1 .group-97-MnLzxP {
  background-color: transparent;
  height: calc(100.00% - 112px);
  left: 56px;
  position: relative;
  top: 56px;
  width: calc(100.00% - 112px);
}
.x06-new-device-pairing-failed-1 .header-C61RwL {
  background-color: transparent;
  height: 74px;
  left: 0px;
  position: absolute;
  top: 16px;
  width: 100%;
}
.x06-new-device-pairing-failed-1 .header-light-N3cxxS {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.x06-new-device-pairing-failed-1 .header-padding-2pFrgc {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.x06-new-device-pairing-failed-1 .hivo-buttons-pr-mary-background-XDM1xz {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.x06-new-device-pairing-failed-1 .hivo-elements-h-ttle-background-N3cxxS {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.x06-new-device-pairing-failed-1 .i-os-ui-elements-C61RwL {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 100%;
}
.x06-new-device-pairing-failed-1 .mask-group-10-Zho80r {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.x06-new-device-pairing-failed-1 .mask-group-103-1W74pg {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.x06-new-device-pairing-failed-1 .mask-group-30-MZo7m7 {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.x06-new-device-pairing-failed-1 .rectangle-q4vsoZ {
  background-color: transparent;
  bottom: 9px;
  height: 5px;
  object-fit: cover;
  position: absolute;
  right: calc(49.79% - 67px);
  width: 134px;
}
.x06-new-device-pairing-failed-1 .spacing-left-XDM1xz {
  background-color: transparent;
  height: calc(100.00% - 2px);
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: calc(100.00% - 269px);
}
.x06-new-device-pairing-failed-1 .spacing-right-XDM1xz {
  background-color: transparent;
  height: calc(100.00% - 2px);
  left: 268px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: calc(100.00% - 269px);
}
.x06-new-device-pairing-failed-1 .ui-bars-home-in-dark-background-q4vsoZ {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.x06-new-device-pairing-failed-1 .ui-bars-home-in-dicator-on-dark-GUNvJx {
  background-color: transparent;
  bottom: 1px;
  height: 34px;
  left: 0px;
  position: absolute;
  width: 100%;
}
.x06-new-device-pairing-failed-1 .ui-bg-dark-C61RwL {
  background-color: transparent;
  height: 100%;
  left: -1px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.x06-new-device-pairing-failed-1 .ui-dark-buttons-primary-C61RwL {
  background-color: transparent;
  bottom: 60px;
  height: 52px;
  left: 22px;
  position: absolute;
  width: calc(100.00% - 44px);
}
.x06-new-device-pairing-failed-1 .ui-dark-header-IcPKRJ {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.x06-new-device-pairing-failed-1 .ui-dark-icons-outline-success-C61RwL {
  background-color: transparent;
  height: 168px;
  left: calc(50.00% - 84px);
  position: absolute;
  top: calc(29.50% - 50px);
  width: 168px;
}
.x06-new-device-pairing-failed-1 .x00-subtittle-2pFrgc {
  background-color: transparent;
  bottom: calc(20.69% - 3px);
  height: 16px;
  left: 24.80%;
  letter-spacing: 0.29px;
  line-height: 10px;
  position: absolute;
  text-align: center;
  width: 51.20%;
}
.x06-new-device-pairing-failed-1 .x00-title-2pFrgc {
  background-color: transparent;
  height: 21px;
  left: 17.33%;
  letter-spacing: 3.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  top: calc(49.06% - 10px);
  width: 66.13%;
}
.x06-new-device-pairing-failed-1 .x01-l-eft-2pFrgc {
  background-color: transparent;
  bottom: calc(30.77% - 15px);
  height: 48px;
  left: 6px;
  position: absolute;
  width: 48px;
}
.x06-new-device-pairing-failed-1 .your-device-hasnt-b-C61RwL {
  background-color: transparent;
  color: var(--blue-bell);
  font-family: var(--font-family-sfuitext-light);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 300;
  height: 23px;
  left: 46px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: calc(49.24% - 11px);
  white-space: nowrap;
  width: calc(100.00% - 88px);
}
